* {
    box-sizing: border-box;
}

:root {
    --gray: #716f6f;
    --light-gray: #f0f0f0;
    --purple: #854dff;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    font-family: 'Poppins', sans-serif;
}

.container {
    background-color: white;
    padding: 3rem;
    border-radius: 1rem 1rem 5rem 1rem;
    width: 100%;
    min-width: 468px;
    max-width: 840px;
}

.input-form {
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(3, 168px);
}
.input-form__box {
    color: var(--gray);
}
.input-form__box__title {
    font-weight: bold;
    margin: 0;
}
.input-form__box__input {
    border-color: var(--light-gray);
    border-radius: 7px;
    font-size: 28px;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    margin: 8px 0;
}
.input-form__box__input:focus {
    outline: none;
    border-color: var(--purple);
}

.input-form__box__error-message {
    display: none;
    font-style: italic;
}
.input-form__box--error {
    color: red;
}
.input-form__box--error .input-form__box__input {
    border-color: red;
}
.input-form__box--error .input-form__box__error-message {
    display: block;
}

.separator {
    position: relative;
    height: 96px;
    margin-top: -2rem;
}
.separator__line {
    border: none;
    border-bottom: 1px solid var(--gray);
    padding-top: calc(96px / 2);
}
.separator__button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--purple);
    width: 96px;
    height: 96px;
    border-radius: 50%;
    /*display: flex;*/
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
}
.separator__button:hover {
    background-color: black;
}

.results__invalid {
    color: red;
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    display: none;
}
.result {
    font-size: 103px;
    font-weight: bold;
    line-height: 1.1;
    font-style: italic;
}
.result__value {
    color: var(--purple);
}

/* Mobile */
@media screen and (max-width: 670px) {
    .input-form {
        grid-template-columns: repeat(3, 1fr);
    }
    .separator {
        margin: auto;
        margin-bottom: 2rem;
    }
    .separator__button {
        right: calc(50% - 96px / 2);
    }
    .result {
        font-size: 13vmin;
    }
}