*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: lightgray;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    border: 10px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
}

div[class*="item-"] {
    background-color: orange;
    padding: 10px;
    text-align: center;
    border: 2px solid gray;
    /*flex: 1;*/
    /*flex-grow: 1; */
    width: 300px;
}

div[class*="item-"]:nth-child(odd) {
    background-color: black;
    color: white;
}