body {
    margin: 0;
    padding: 0;
}

#grid-1 {
    height: 100vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
}

div {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-1 > div {
    background-color: goldenrod;
}

#grid-1 > div:nth-child(5) {
    background-color: transparent;
    display: block;
}

#grid-2 {
    height: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
}

#grid-2 > div {
    background-color: purple;
    color: white;
}